@model DALTWEB_110HN.Models.SANPHAM

@{
    ViewBag.Title = "createSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    div.create {
        width:80%;
        margin-left:10%;
    }
        div.create input#btn {
            background-color:#00ff96;
            box-shadow:1px 1px 1px 1px black;
            border-radius:5px;
        }
        div.create div#btn {
            margin-top:10px;
            width:130px;
            text-align:center;
            background-color: #333;
            box-shadow: 1px 1px 1px 1px black;
            border-radius: 5px;
        }
</style>
<div class="create">
    @using (Html.BeginForm("createSanPham", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Thêm sản phẩm</h2>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.ten, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ten)
                    @Html.ValidationMessageFor(model => model.ten)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.gia, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.gia)
                    @Html.ValidationMessageFor(model => model.gia)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.mota, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.mota)
                    @Html.ValidationMessageFor(model => model.mota)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.img, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="img" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.anhien, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.anhien)
                    @Html.ValidationMessageFor(model => model.anhien)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.idLoai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idLoai")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btn" type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div id="btn">
        @Html.ActionLink("Quay trở lại", "SanPham")
    </div>
</div>
