@model DALTWEB_110HN.Models.SANPHAM

@{
    ViewBag.Title = "deleteSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    div.alert {
        width: 50%;
        margin-left: 25%;
    }

        div.alert input#btn {
            background-color: #00ff96;
            box-shadow: 1px 1px 1px 1px black;
            border-radius: 5px;
        }
    dd {
        color:#00ff96;
        font-style:normal;
    }
</style>
<style>
    div.ctn {
        width: 50%;
        margin-left: 10%;
        margin-top: 200px;
        text-align: left;
    }
</style>
<div class="ctn">
    <h2>deleteSanPham</h2>
    <div class="alert">
        <h3>Bạn có chắc sẽ xóa sản phẩm này ?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.idSP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.idSP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ten)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ten)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.gia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.gia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.mota)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.mota)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.img)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.img)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.anhien)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.anhien)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.idLoai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.idLoai)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input id="btn" type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "SanPham")
                </div>
            }
        </div>
    </div>
</div>