@model DALTWEB_110HN.Models.KHACHHANG

@{
    ViewBag.Title = "editKhachHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    div.ctn {
        width: 50%;
        margin-left: 25%;
        text-align: left;
    }
</style>
<div class="ctn">
    @using (Html.BeginForm("saveKhachHang", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>KHACHHANG</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.idKhach, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.idKhach)
                    @Html.ValidationMessageFor(model => model.idKhach)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.hoten, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.hoten)
                    @Html.ValidationMessageFor(model => model.hoten)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.diachi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.diachi)
                    @Html.ValidationMessageFor(model => model.diachi)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sodienthoai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sodienthoai)
                    @Html.ValidationMessageFor(model => model.sodienthoai)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.username, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.username)
                    @Html.ValidationMessageFor(model => model.username)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pwd, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.pwd)
                    @Html.ValidationMessageFor(model => model.pwd)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email)
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.dob, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.dob)
                @Html.ValidationMessageFor(model => model.dob)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.charges, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.charges)
                @Html.ValidationMessageFor(model => model.charges)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Quay trở lại", "KhachHang")
    </div>
</div>