@using DALTWEB_110HN.Models;
@using PagedList.Mvc
@model PagedList.PagedList<LOAISP>

@{
    ViewBag.Title = "LoaiSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    table.LoaiSP {
        font-family: 'Times New Roman';
        font-size: 20px;
        width: 98%;
        margin-left: 1%;
        margin-top: 30px;
    }
</style>
<div style="background-color: #00ff96; border-radius: 10px; box-shadow: 1px 1px 1px 1px black; text-align: center; width: 150px; margin-top: 50px; margin-left: 5%">
    <p><a style="color:black;" href="@Url.Action("createLoaiSP","Admin")">Tạo mới</a></p>
</div>
<table class="LoaiSP" border="1">
    <tr>
        <th>
            idLoai
        </th>
        <th>
            tenLoai
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.idLoai
        </td>
        <td>
            @item.tenLoai
        </td>
        <td>
            @Html.ActionLink("Sửa", "editLoaiSP", new {  id= item.idLoai }) |
            @Html.ActionLink("Xóa", "deleteLoaiSP", new {  id= item.idLoai })
        </td>
    </tr>
}

</table>
<div style="font-family:benxuan;font-size:25px;color:white;">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</div>
<div class="index-select">
    @Html.PagedListPager(Model, Page => Url.Action("LoaiSP", new { page = Page }))
</div>
<style>
    div.index-select ul {
        width: 50%;
        text-align: center;
    }

    div.index-select li {
        float: left;
        display: inline;
        margin: 3px;
        box-shadow: 1px 1px 1px 1px black;
        width: 30px;
        text-align: center;
        border-radius: 5px;
        height: 30px;
    }

        div.index-select li:hover {
            cursor: pointer;
            transition: 0.4s;
            background-color: #ff195f;
        }

        div.index-select li a {
            color: white;
            font-family: 'UVN Ben Xuan';
            font-size: 30px;
            text-decoration: none;
            width: 30px;
            height: 30px;
        }
</style>
